<form action="/payment/done">
  <label for="user_apr"> APR </label>
  <input id="user_apr" type="text" name ="apr">
  <label for="years_input">Number of years</label>
  <input id="years_input" type="text" name ="years">
  <label for="user_pv">Principal</label>
  <input id="user_pv" type="text" name="principal">
  <button>Calculate Monthly Payment </button>
</form>
