<form action="/random/done">
  <label for="min"> Enter a number </label>
  <input id="min" type="text" name ="min">
  <label for="max"> Maximum</label>
  <input for="max" type="text" name ="max">
  <button>Pick a random number </button>
</form>
